.footer {
    height: 100px;
    background-color: black;
  }
  
  .heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .contactbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 40px;
  }
  
  .contactbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-bottom: 40px;
  }
  
  .contactbar ul li {
    font-size: 25px;
    border: 1px solid rgb(167, 167, 168);
    background-color: rgb(22, 22, 22, 0.5);
    transition: 0.5s ease;
  }
  
  .contactbar ul li:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(167, 167, 168);
    background: rgb(167, 167, 168);
    color: black;
  }